.navbar {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(var(--second));
    border-bottom: solid 1px rgba(var(--second), 0.5);
    .projectTitle {
        .sidebar__logo {
            cursor: pointer;
        }
        display: flex;
        align-items: center;
        .logo {
            width: 50px;
            height: 50px;
        }
        a {
            text-decoration: none;
            color: rgb(var(--second));
            font: 36px bolder;
        }
    }
    .sign {
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: space-between;
        gap: 16px;
        a {
            text-decoration: none;
        }
    }
    .user {
        display: flex;
        align-items: center;
        gap: 16px;
        #user-name {
            text-decoration: none;
            font: 20px bolder;
            padding-right: 12px;
            &::first-letter {
                text-transform: capitalize;
            }
        }
    }
}
