.signInPage {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    flex: 1;
}
.signInPage form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.signInPage input {
    width: 300px;
    height: 30px;
    border: 1px solid rgb(var(--second));
    border-radius: 5px;
    background-color: rgb(var(--prime));
    padding: 0 10px;
    &:focus {
        outline: none;
    }
}
.signInPage button {
    width: 300px;
    height: 30px;
}
.signInPage .error {
    color: red;
    font-size: 12px;
}

.signInPage a {
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}
