:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    --prime: 189, 151, 207;
    --first: 227, 227, 225;
    --second: 0, 0, 0;
    --high: 255, 55, 95;
    --medium: 255, 201, 38;
    --low: 63, 202, 125;
    background-color: rgb(var(--first));
    color: rgb(var(--second));
    height: 100vh;
}
#root {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.dark {
    --prime: 160, 64, 206;
    --first: 0, 0, 0;
    --second: 227, 227, 225;
}
button {
    padding: 6px 12px;
    font-size: 16px;
    border-radius: 6px;
    &:hover {
        cursor: pointer;
    }
}

.primary-button {
    background-color: rgb(var(--second));
    border: rgb(var(--second)) 1px solid;
    color: rgb(var(--first));
    a {
        color: rgb(var(--first));
    }
}
.secondary-button {
    background-color: rgb(var(--prime));
    border: rgb(var(--first)) 1px solid;
    color: black;
    a {
        color: black;
    }
}
.tertiary-button {
    background: transparent;
    border: none;
    color: rgb(var(--second));
    a {
        color: rgb(var(--second));
    }
}

a {
    color: rgb(var(--second));
}
h1 {
    text-transform: capitalize;
}

input:not([type="checkbox"]) {
    width: 300px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid rgb(var(--second));
    background-color: rgba(var(--prime), 0.2);
    color: rgb(var(--second));
    padding: 0 10px;
    &:focus {
        outline: none;
    }
}
input[type="range"] {
    width: 100%;
    height: 10px;
    appearance: none;
    border-radius: 15px;
    padding: 0;
    opacity: 0.7;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-text-fill-color: rgb(var(--second));
    transition: background-color 5000s ease-in-out 0s;
}

input[type="range"]::-webkit-slider-thumb,
input[type="range"]::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgba(var(--prime));
    border: 1px solid rgb(var(--prime));
}
textarea {
    width: 300px;
    height: 100px;
    border: 1px solid rgb(var(--second));
    border-radius: 5px;
    background-color: rgba(var(--prime), 0.2);
    padding: 10px;
    font-size: 0.9rem;
    &:focus {
        outline: none;
    }
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
li {
    padding-left: 24px;
}

select {
    height: 30px;
    border: 1px solid rgb(var(--second));
    background-color: rgba(var(--prime), 0.2);
    border-radius: 5px;
    width: 100%;
}
