:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    --prime: #baa5c4;
    --first: #d9d9d9;
    --second: #000;
    background-color: var(--first);
}
.dark {
    --prime: #baa5c4;
    --first: #000;
    --second: #d9d9d9;
}
button {
    padding: 6px 12px;
    font-size: 16px;
    border-radius: 6px;
}

.primary-button {
    background-color: var(--second);
    border: var(--second) 1px solid;
    color: var(--first);
    a {
        color: var(--first);
    }
}
.secondary-button {
    background-color: var(--prime);
    border: var(--first) 1px solid;
    color: black;
    a {
        color: black;
    }
}
.tertiary-button {
    background: transparent;
    border: none;
    color: var(--second);
    a {
        color: var(--second);
    }
}
