:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    margin: 0;
    --prime: 189, 151, 207;
    --first: 217, 217, 217;
    --second: 0, 0, 0;
    background-color: rgb(var(--first));
    color: rgb(var(--second));
}
.dark {
    --prime: 189, 151, 207;
    --first: 0, 0, 0;
    --second: 217, 217, 217;
}
button {
    padding: 6px 12px;
    font-size: 16px;
    border-radius: 6px;
    &:hover {
        cursor: pointer;
    }
}

.primary-button {
    background-color: rgb(var(--second));
    border: rgb(var(--second)) 1px solid;
    color: rgb(var(--first));
    a {
        color: rgb(var(--first));
    }
}
.secondary-button {
    background-color: rgb(var(--prime));
    border: rgb(var(--first)) 1px solid;
    color: black;
    a {
        color: black;
    }
}
.tertiary-button {
    background: transparent;
    border: none;
    color: rgb(var(--second));
    a {
        color: rgb(var(--second));
    }
}

a {
    color: rgb(var(--second));
}
