# Default ignored files
/shelf/
/workspace.xml
#ignoring unnecessary django files and venv
venv/
*.pyc
__pycache__/
db.sqlite3
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?